body {
  font-family: Palatino;
  background-color: #F5ECCE;
}

@media only screen and (min-width: 600px) {
  body {
    width: 50%;
  }
};

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
  padding-right: 10px;
}

#react-paginate .break a {
  cursor: default;
}